noderedlibary/edgex_rpi_blink_example.flow
[{"id":"f68fd653.3c4c48","type":"tab","label":"EdgeX RPi Blink Example"},{"id":"92c9737a.47b21","type":"http request","z":"f68fd653.3c4c48","name":"Set LED","method":"PUT","ret":"txt","paytoqs":false,"url":"http://192.168.1.91:48082/api/v1/device/name/RPiBlinkLed/command/Set_Led","tls":"","proxy":"","authType":"","x":760,"y":40,"wires":[[]]},{"id":"11fc9644.e82702","type":"inject","z":"f68fd653.3c4c48","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":60,"wires":[["c58c07e0.3a631"]]},{"id":"c58c07e0.3a631","type":"ui_switch","z":"f68fd653.3c4c48","name":"","label":"LED Switch","group":"4bde58bf.8eec98","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":60,"wires":[["955e728a.976748"]]},{"id":"955e728a.976748","type":"switch","z":"f68fd653.3c4c48","name":"Enable LED","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":430,"y":60,"wires":[["bf6df101.952c2"],["61436440.a3eb04"]]},{"id":"bf6df101.952c2","type":"function","z":"f68fd653.3c4c48","name":"Turn on LED","func":"var data = {}\ndata[\"LED\"] = \"true\"\nmsg.payload = JSON.stringify (data);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":40,"wires":[["92c9737a.47b21","2405d4c1.1c867c"]]},{"id":"61436440.a3eb04","type":"function","z":"f68fd653.3c4c48","name":"Turn off LED","func":"var data = {}\ndata[\"LED\"] = \"false\"\nmsg.payload = JSON.stringify (data);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":80,"wires":[["92c9737a.47b21","2405d4c1.1c867c"]]},{"id":"2405d4c1.1c867c","type":"debug","z":"f68fd653.3c4c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":80,"wires":[]},{"id":"4bde58bf.8eec98","type":"ui_group","z":"","name":"RPi Blink Example","tab":"7beeae48.563f18","disp":true,"width":"6"},{"id":"7beeae48.563f18","type":"ui_tab","z":"","name":"EdgeX Device RPi Examples","icon":"dashboard"}]
