noderedlibary/hello-openfaas.flow
[{"id":"d4e37d7e.37f27","type":"tab","label":"OpenFaaS","disabled":false,"info":""},{"id":"521a30cd.4e5158","type":"inject","z":"d4e37d7e.37f27","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":170,"y":120,"wires":[["88ea14d6.cfd81"]]},{"id":"44fbadd0.42681c","type":"http request","z":"d4e37d7e.37f27","name":"Hello OpenFaaS","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8080/function/hello-openfaas","tls":"","proxy":"","authType":"","x":650,"y":120,"wires":[["4bfda0f9.7e02a"]]},{"id":"88ea14d6.cfd81","type":"function","z":"d4e37d7e.37f27","name":"Payload and Headers","func":"msg.payload = \"Hi\";\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["44fbadd0.42681c"]]},{"id":"4bfda0f9.7e02a","type":"debug","z":"d4e37d7e.37f27","name":"","active":true,"console":"false","complete":"false","x":860,"y":120,"wires":[]}]
