noderedlibary/hello-openfaas.flow
[{"id":"d4e37d7e.37f27","type":"tab","label":"OpenFaaS","disabled":false,"info":""},{"id":"521a30cd.4e5158","type":"inject","z":"d4e37d7e.37f27","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":200,"y":120,"wires":[["88ea14d6.cfd81"]]},{"id":"44fbadd0.42681c","type":"http request","z":"d4e37d7e.37f27","name":"Hello OpenFaaS","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8080/function/hello-openfaas","tls":"","proxy":"","authType":"","x":670,"y":120,"wires":[["4bfda0f9.7e02a","e1f4722e.1d52e","5e418797.aaab9"]]},{"id":"88ea14d6.cfd81","type":"function","z":"d4e37d7e.37f27","name":"Payload and Headers","func":"if(msg.topic === \"textinput\"){\n    msg.payload = msg.payload;\n    msg.headers = {};\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["44fbadd0.42681c"]]},{"id":"4bfda0f9.7e02a","type":"debug","z":"d4e37d7e.37f27","name":"","active":true,"console":"false","complete":"false","x":940,"y":120,"wires":[]},{"id":"7d26a944.a13998","type":"ui_text_input","z":"d4e37d7e.37f27","name":"","label":"","tooltip":"","group":"106ce8d7.42908f","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"textinput","x":200,"y":180,"wires":[["88ea14d6.cfd81"]]},{"id":"e1f4722e.1d52e","type":"ui_toast","z":"d4e37d7e.37f27","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":950,"y":180,"wires":[]},{"id":"5e418797.aaab9","type":"ui_audio","z":"d4e37d7e.37f27","name":"","group":"106ce8d7.42908f","voice":"en-US","always":"","x":920,"y":240,"wires":[]},{"id":"106ce8d7.42908f","type":"ui_group","z":"","name":"OpenFaaS","tab":"c8605768.1ff858","disp":true,"width":"6","collapse":false},{"id":"c8605768.1ff858","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
