noderedlibary/ich_openvino_restricted_zone_notifier_cpp.flow
[{"id":"ac2a0a45.b46f7","type":"tab","label":"Restricted Zone Notifier CPP","disabled":true,"info":""},{"id":"15e69327.43c0f5","type":"mqtt in","z":"ac2a0a45.b46f7","name":"Restricted Zone Notifier CPP","topic":"machine/zone","qos":"2","datatype":"auto","broker":"618f14bf.13452c","x":159.566650390625,"y":91,"wires":[["957de1df.8d7498"]]},{"id":"3d8207fe.ea638","type":"debug","z":"ac2a0a45.b46f7","name":"Debug Notification","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":969.566650390625,"y":111,"wires":[]},{"id":"957de1df.8d7498","type":"json","z":"ac2a0a45.b46f7","name":"Conversion","property":"payload","action":"","pretty":true,"x":389.566650390625,"y":91,"wires":[["590dba11.47a8cc"]]},{"id":"590dba11.47a8cc","type":"switch","z":"ac2a0a45.b46f7","name":"IsAlertDetected","property":"payload.Safe","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":579.566650390625,"y":91,"wires":[["ae5588aa.074b1"]]},{"id":"ae5588aa.074b1","type":"function","z":"ac2a0a45.b46f7","name":"Alert!","func":"msg.payload = \"Alert! Worker is not safe!\"\nreturn msg;","outputs":1,"noerr":0,"x":769.566650390625,"y":71,"wires":[["3d8207fe.ea638","ad49c66c.c61b58"]]},{"id":"ad49c66c.c61b58","type":"ui_audio","z":"ac2a0a45.b46f7","name":"Audio Notification","group":"7392195.b83ece8","voice":"en-US","always":true,"x":969.566650390625,"y":71,"wires":[]},{"id":"618f14bf.13452c","type":"mqtt-broker","z":"","name":"Ich Mosquitto","broker":"172.17.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7392195.b83ece8","type":"ui_group","z":"","name":"OpenVINO","tab":"7d54880e.bd231","disp":true,"width":"6","collapse":false},{"id":"7d54880e.bd231","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
