noderedlibary/ich_openvino_restricted_zone_notifier_cpp.flow
[{"id":"101e0055.4c074","type":"mqtt in","z":"8b6c517a.ca89b8","name":"Restricted Zone Notifier CPP","topic":"machine/zone","qos":"2","datatype":"auto","broker":"fbb3afa7.638ec","x":180,"y":100,"wires":[["70158780.03bdd"]]},{"id":"5611bb77.c7223c","type":"debug","z":"8b6c517a.ca89b8","name":"Debug Notification","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":120,"wires":[]},{"id":"70158780.03bdd","type":"json","z":"8b6c517a.ca89b8","name":"Conversion","property":"payload","action":"","pretty":true,"x":410,"y":100,"wires":[["bc7d9d84.c48108"]]},{"id":"bc7d9d84.c48108","type":"switch","z":"8b6c517a.ca89b8","name":"IsAlertDetected","property":"payload.Safe","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":600,"y":100,"wires":[["d3a7479.5073338"]]},{"id":"d3a7479.5073338","type":"function","z":"8b6c517a.ca89b8","name":"Alert!","func":"msg.payload = \"Alert! Worker is not safe!\"\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":80,"wires":[["5611bb77.c7223c","120338fd.2f298f"]]},{"id":"120338fd.2f298f","type":"ui_audio","z":"8b6c517a.ca89b8","name":"Audio Notification","group":"7e7bff7f.abb528","voice":"en-US","always":true,"x":990,"y":80,"wires":[]},{"id":"fbb3afa7.638ec","type":"mqtt-broker","z":"","name":"Ich Mosquitto","broker":"172.17.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7e7bff7f.abb528","type":"ui_group","z":"","name":"OpenVINO","tab":"cfe2ec4f.3fac3","disp":true,"width":"6","collapse":false},{"id":"cfe2ec4f.3fac3","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
