noderedlibary/ich_use_cases_bravo.flow
[{"id":"7ba31737.f5b108","type":"tab","label":"Ich Use Cases Bravo","disabled":true,"info":""},{"id":"3c8770af.c7b278","type":"debug","z":"7ba31737.f5b108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":320,"wires":[]},{"id":"f60e4d19.82025","type":"function","z":"7ba31737.f5b108","name":"Compare","func":"if (msg.payload < 40) {\n    msg.payload = 0;\n} else\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":251,"wires":[["3c8770af.c7b278","6ed5b543.c7480c"]]},{"id":"6ed5b543.c7480c","type":"switch","z":"7ba31737.f5b108","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":340,"wires":[["9b711b00.6aae68"],["57ad27c.4150ed8"]],"outputLabels":["ON","OFF"]},{"id":"57ad27c.4150ed8","type":"function","z":"7ba31737.f5b108","name":"Turn on LED","func":"var data = {}\ndata[\"LED\"] = \"true\"\nmsg.payload = JSON.stringify (data);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":360,"wires":[["f37c5eeb.d72a7","3c8770af.c7b278","dd378528.d3206"]]},{"id":"dd378528.d3206","type":"http request","z":"7ba31737.f5b108","name":"Set LED","method":"PUT","ret":"txt","paytoqs":false,"url":"http://192.168.1.91:48082/api/v1/device/name/RPiBlinkLed/command/Set_Led","tls":"","proxy":"","authType":"","x":900,"y":360,"wires":[[]]},{"id":"9b711b00.6aae68","type":"function","z":"7ba31737.f5b108","name":"Turn off LED","func":"var data = {}\ndata[\"LED\"] = \"false\"\nmsg.payload = JSON.stringify (data);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":320,"wires":[["3c8770af.c7b278","dd378528.d3206"]]},{"id":"8a7454c9.458fa8","type":"ui_slider","z":"7ba31737.f5b108","name":"","label":"Temperature","tooltip":"","group":"bdba1b1c.96aa9","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"60","step":".5","x":110,"y":120,"wires":[["5e1661d8.e602a"]]},{"id":"c94b55e5.eca4e8","type":"ui_chart","z":"7ba31737.f5b108","name":"","group":"bdba1b1c.96aa9","order":1,"width":0,"height":0,"label":"Data Collection","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":700,"y":200,"wires":[[]]},{"id":"f37c5eeb.d72a7","type":"function","z":"7ba31737.f5b108","name":"Payload and Headers","func":"msg.payload = \"Warning! High Temperature!\";\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":420,"wires":[["bc52301.8c04a5"]]},{"id":"c498c6c3.3f0618","type":"ui_gauge","z":"7ba31737.f5b108","name":"","group":"bdba1b1c.96aa9","order":2,"width":0,"height":0,"gtype":"gage","title":"Actuation","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"40","x":660,"y":140,"wires":[]},{"id":"5e1661d8.e602a","type":"mqtt out","z":"7ba31737.f5b108","name":"MQTT","topic":"IchUseCases/Bravo/Temperature","qos":"2","retain":"true","broker":"98fc7927.614b5","x":310,"y":80,"wires":[]},{"id":"f8d28366.b6f5c","type":"inject","z":"7ba31737.f5b108","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":40,"wires":[["cb98bfa8.56eaa"]]},{"id":"cb98bfa8.56eaa","type":"random","z":"7ba31737.f5b108","name":"","low":"35","high":"50","inte":"false","property":"payload","x":120,"y":80,"wires":[[]]},{"id":"b983b505.9c085","type":"mqtt in","z":"7ba31737.f5b108","name":"MQTT","topic":"IchUseCases/Bravo/Temperature","qos":"2","datatype":"auto","broker":"98fc7927.614b5","x":310,"y":160,"wires":[["bb3b3f56.769e1"]]},{"id":"bb3b3f56.769e1","type":"function","z":"7ba31737.f5b108","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["c498c6c3.3f0618","c94b55e5.eca4e8","f60e4d19.82025"]]},{"id":"bc52301.8c04a5","type":"http request","z":"7ba31737.f5b108","name":"Hello OpenFaaS","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.91:8080/function/hello-openfaas","tls":"","proxy":"","authType":"","x":830,"y":480,"wires":[["3c80268b.de0e3a"]]},{"id":"3c80268b.de0e3a","type":"ui_audio","z":"7ba31737.f5b108","name":"","group":"bdba1b1c.96aa9","voice":"en-US","always":true,"x":940,"y":540,"wires":[]},{"id":"bdba1b1c.96aa9","type":"ui_group","z":"","name":"Bravo","tab":"8adc12c9.14abb","disp":true,"width":"6","collapse":false},{"id":"98fc7927.614b5","type":"mqtt-broker","z":"","name":"","broker":"172.17.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8adc12c9.14abb","type":"ui_tab","z":"","name":"Ich Use Cases","icon":"dashboard","disabled":false,"hidden":false}]
