noderedlibary/ich_use_cases_alpha.flow
[{"id":"5184ee9a.ed4b3","type":"tab","label":"Ich Use Case Alpha","disabled":true,"info":""},{"id":"a7461f83.b1c84","type":"mqtt in","z":"5184ee9a.ed4b3","name":"","topic":"EdgeXExportTopic/RandomIntegerDevice","qos":"2","datatype":"auto","broker":"98fc7927.614b5","x":240,"y":60,"wires":[["6929b05e.7f8ba8"]]},{"id":"6929b05e.7f8ba8","type":"json","z":"5184ee9a.ed4b3","name":"Convert","property":"payload","action":"","pretty":false,"x":180,"y":140,"wires":[["e9b8c9b2.11471"]]},{"id":"e9b8c9b2.11471","type":"change","z":"5184ee9a.ed4b3","name":"Extract","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.readings[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":140,"wires":[["f79c111e.ea836","ad0b4297.9834f"]]},{"id":"1c6b4848.da7b08","type":"debug","z":"5184ee9a.ed4b3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":260,"wires":[]},{"id":"f79c111e.ea836","type":"function","z":"5184ee9a.ed4b3","name":"Compare","func":"if (msg.payload > 0) {\n    msg.payload = 0;\n} else\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["1c6b4848.da7b08","db6d9a5.8549568"]]},{"id":"db6d9a5.8549568","type":"switch","z":"5184ee9a.ed4b3","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":240,"wires":[["d763a3b4.2f3158"],["a4c44a6c.f79b28"]],"outputLabels":["ON","OFF"]},{"id":"d763a3b4.2f3158","type":"function","z":"5184ee9a.ed4b3","name":"Turn on LED","func":"var data = {}\ndata[\"LED\"] = \"true\"\nmsg.payload = JSON.stringify (data);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":220,"wires":[["35834883.3199e"]]},{"id":"35834883.3199e","type":"http request","z":"5184ee9a.ed4b3","name":"Set LED","method":"PUT","ret":"txt","paytoqs":false,"url":"http://192.168.1.91:48082/api/v1/device/name/RPiBlinkLed/command/Set_Led","tls":"","proxy":"","authType":"","x":540,"y":220,"wires":[[]]},{"id":"a4c44a6c.f79b28","type":"function","z":"5184ee9a.ed4b3","name":"Turn off LED","func":"var data = {}\ndata[\"LED\"] = \"false\"\nmsg.payload = JSON.stringify (data);\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["35834883.3199e","1c6b4848.da7b08"]]},{"id":"ad0b4297.9834f","type":"ui_numeric","z":"5184ee9a.ed4b3","name":"","label":"Data Collection","tooltip":"","group":"95c4c638.64b54","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":560,"y":80,"wires":[[]]},{"id":"98fc7927.614b5","type":"mqtt-broker","z":"","name":"","broker":"172.17.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"95c4c638.64b54","type":"ui_group","z":"","name":"Alpha","tab":"8adc12c9.14abb","disp":true,"width":"6","collapse":false},{"id":"8adc12c9.14abb","type":"ui_tab","z":"","name":"Ich Use Cases","icon":"dashboard","disabled":false,"hidden":false}]
