noderedlibary/ich_openvino_shopper_gaze_monitor_cpp.flow
[{"id":"ba0b1a16.f76c8","type":"tab","label":"Shopper Gaze Monitor CPP","disabled":true,"info":""},{"id":"be63ffe5.1c20e","type":"mqtt in","z":"ba0b1a16.f76c8","name":"Shopper Gaze Monitor CPP","topic":"retail/traffic","qos":"2","datatype":"auto","broker":"fbb3afa7.638ec","x":180,"y":120,"wires":[["7db7e74c.f8574"]]},{"id":"4ec24792.301cf8","type":"debug","z":"ba0b1a16.f76c8","name":"Debug Notification","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":120,"wires":[]},{"id":"7db7e74c.f8574","type":"json","z":"ba0b1a16.f76c8","name":"Conversion","property":"payload.shoppers","action":"","pretty":true,"x":410,"y":120,"wires":[["4ec24792.301cf8"]]},{"id":"fbb3afa7.638ec","type":"mqtt-broker","z":"","name":"Ich Mosquitto","broker":"172.17.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
