noderedlibary/ich_use_case_two.flow
[{"id":"7ba31737.f5b108","type":"tab","label":"Ich Use Case Two","disabled":true,"info":""},{"id":"3c8770af.c7b278","type":"debug","z":"7ba31737.f5b108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":180,"wires":[]},{"id":"f60e4d19.82025","type":"function","z":"7ba31737.f5b108","name":"Compare","func":"if (msg.payload < 40) {\n    msg.payload = 0;\n} else\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["3c8770af.c7b278","6ed5b543.c7480c"]]},{"id":"6ed5b543.c7480c","type":"switch","z":"7ba31737.f5b108","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":200,"wires":[["9b711b00.6aae68"],["57ad27c.4150ed8"]],"outputLabels":["ON","OFF"]},{"id":"57ad27c.4150ed8","type":"function","z":"7ba31737.f5b108","name":"Turn on LED","func":"var data = {}\ndata[\"LED\"] = \"true\"\nmsg.payload = JSON.stringify (data);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["dd378528.d3206","f37c5eeb.d72a7"]]},{"id":"dd378528.d3206","type":"http request","z":"7ba31737.f5b108","name":"Set LED","method":"PUT","ret":"txt","paytoqs":false,"url":"http://192.168.1.91:48082/api/v1/device/name/RPiBlinkLed/command/Set_Led","tls":"","proxy":"","authType":"","x":600,"y":220,"wires":[[]]},{"id":"9b711b00.6aae68","type":"function","z":"7ba31737.f5b108","name":"Turn off LED","func":"var data = {}\ndata[\"LED\"] = \"false\"\nmsg.payload = JSON.stringify (data);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["dd378528.d3206","3c8770af.c7b278"]]},{"id":"8a7454c9.458fa8","type":"ui_slider","z":"7ba31737.f5b108","name":"","label":"Thermostat","tooltip":"","group":"bdba1b1c.96aa9","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"60","step":".5","x":250,"y":100,"wires":[["f60e4d19.82025","c94b55e5.eca4e8"]]},{"id":"c94b55e5.eca4e8","type":"ui_chart","z":"7ba31737.f5b108","name":"","group":"bdba1b1c.96aa9","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":450,"y":40,"wires":[[]]},{"id":"f37c5eeb.d72a7","type":"function","z":"7ba31737.f5b108","name":"Payload and Headers","func":"msg.payload = \"Warning! High Temperature!\";\nmsg.headers = {};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":320,"wires":[["bc52301.8c04a5"]]},{"id":"bc52301.8c04a5","type":"http request","z":"7ba31737.f5b108","name":"Hello OpenFaaS","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.1.91:8080/function/hello-openfaas","tls":"","proxy":"","authType":"","x":680,"y":320,"wires":[["7ee3c5fc.f7662c"]]},{"id":"7ee3c5fc.f7662c","type":"ui_audio","z":"7ba31737.f5b108","name":"","group":"4fe2b8c3.14987","voice":"en-US","always":true,"x":840,"y":320,"wires":[]},{"id":"bdba1b1c.96aa9","type":"ui_group","z":"","name":"Bravo","tab":"8adc12c9.14abb","disp":true,"width":"6","collapse":false},{"id":"4fe2b8c3.14987","type":"ui_group","z":"","name":"Hello OpenFaaS","tab":"62180f87.b961e","disp":true,"width":"6","collapse":false},{"id":"8adc12c9.14abb","type":"ui_tab","z":"","name":"Ich Use Cases","icon":"dashboard","disabled":false,"hidden":false},{"id":"62180f87.b961e","type":"ui_tab","z":"","name":"OpenFaaS","icon":"dashboard","disabled":false,"hidden":false}]
