noderedlibary/ich_openvino_shopper_gaze_monitor_cpp.flow
[{"id":"ba0b1a16.f76c8","type":"tab","label":"Shopper Gaze Monitor CPP","disabled":false,"info":""},{"id":"be63ffe5.1c20e","type":"mqtt in","z":"ba0b1a16.f76c8","name":"Shopper Gaze Monitor CPP","topic":"retail/traffic","qos":"2","datatype":"auto","broker":"fbb3afa7.638ec","x":180,"y":100,"wires":[["3f0e7922.2a2bae"]]},{"id":"4ec24792.301cf8","type":"debug","z":"ba0b1a16.f76c8","name":"Debug Notification","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":100,"wires":[]},{"id":"3f0e7922.2a2bae","type":"json","z":"ba0b1a16.f76c8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":100,"wires":[["953aabb7.d19ea8","cbcc4573.066cd"]]},{"id":"953aabb7.d19ea8","type":"change","z":"ba0b1a16.f76c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.shoppers","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":60,"wires":[["4ec24792.301cf8"]]},{"id":"cbcc4573.066cd","type":"change","z":"ba0b1a16.f76c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lookers","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":140,"wires":[["4ec24792.301cf8"]]},{"id":"fbb3afa7.638ec","type":"mqtt-broker","z":"","name":"Ich Mosquitto","broker":"172.17.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
