noderedlibary/mqtt.flow
[{"id":"7befe8de.a3568","type":"tab","label":"Main","disabled":false,"info":""},{"id":"7f8ff238.c88d74","type":"debug","z":"7befe8de.a3568","name":"MQTT Binary Sensor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":386,"y":208,"wires":[]},{"id":"97797ddd.a5f538","type":"ui_switch","z":"7befe8de.a3568","name":"","label":"MQTT Binary Sensor Event","tooltip":"","group":"1e1236cb.8cd369","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":401.5,"y":86,"wires":[[]]},{"id":"b87368a9.5e844","type":"ui_switch","z":"7befe8de.a3568","name":"","label":"MQTT Switch","tooltip":"","group":"1e1236cb.8cd369","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":86.5,"y":332,"wires":[["256cf4a2.b0c47c"]]},{"id":"256cf4a2.b0c47c","type":"mqtt out","z":"7befe8de.a3568","name":"MQTT Switch Topic","topic":"bacabhome/switch/mqtt","qos":"","retain":"","broker":"b25d1f6.a9e55e","x":337.5,"y":359,"wires":[]},{"id":"cf2cfe91.8a9b5","type":"ui_switch","z":"7befe8de.a3568","name":"","label":"MQTT Binary Sensor Switch","tooltip":"","group":"1e1236cb.8cd369","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"bacabhome/binarysensor/mqtt","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":135.5,"y":112,"wires":[["47840c78.2c080c"]]},{"id":"47840c78.2c080c","type":"mqtt out","z":"7befe8de.a3568","name":"MQTT Binary Sensor MQTT Topic","topic":"bacabhome/binarysensor/mqtt","qos":"","retain":"","broker":"b25d1f6.a9e55e","x":424,"y":144,"wires":[]},{"id":"cd5e4377.88ed4","type":"server-state-changed","z":"7befe8de.a3568","name":"","server":"3f226dfb.5ca4a2","entityidfilter":"switch.mqtt_switch","entityidfiltertype":"substring","haltifstate":"","x":145,"y":249,"wires":[["2e22b559.d8aac2"]]},{"id":"2e22b559.d8aac2","type":"ui_switch","z":"7befe8de.a3568","name":"","label":"MQTT Switch Event","tooltip":"","group":"1e1236cb.8cd369","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":349,"y":306,"wires":[[]]},{"id":"11d6a74d.caa389","type":"mqtt in","z":"7befe8de.a3568","name":"MQTT Binary Sensor","topic":"bacabhome/binarysensor/mqtt","qos":"2","broker":"b25d1f6.a9e55e","x":121.5,"y":182,"wires":[["7f8ff238.c88d74"]]},{"id":"fa253794.0ac7d8","type":"debug","z":"7befe8de.a3568","name":"MQTT Switch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":325,"y":416,"wires":[]},{"id":"9176e450.bb935","type":"mqtt in","z":"7befe8de.a3568","name":"MQTT Switch Topic","topic":"bacabhome/switch/mqtt","qos":"2","broker":"b25d1f6.a9e55e","x":95,"y":416,"wires":[["fa253794.0ac7d8"]]},{"id":"4a463f4a.7fc0e","type":"server-state-changed","z":"7befe8de.a3568","name":"","server":"3f226dfb.5ca4a2","entityidfilter":"binary_sensor.mqtt_binary_sensor","entityidfiltertype":"substring","haltifstate":"","x":205.5,"y":37,"wires":[["97797ddd.a5f538"]]},{"id":"1e1236cb.8cd369","type":"ui_group","z":"","name":"Default","tab":"69e91ea8.2eeb8","disp":true,"width":"6","collapse":false},{"id":"b25d1f6.a9e55e","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"10.147.20.63","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3f226dfb.5ca4a2","type":"server","z":"","name":"Home Assistant","url":"http://172.17.0.1:8123","pass":"mav2aten","llat":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJiZTE5YTc0ZDgyNzA0NTg1YWJjZGUxYmE0MTJhY2MzNSIsImlhdCI6MTU0Nzk2MTc1OCwiZXhwIjoxODYzMzIxNzU4fQ.g-9_7ZXYxLm5Wg1-qfgzog_sH4wKJIqPMumo0lO3FRA"},{"id":"69e91ea8.2eeb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
