noderedlibary/mqtt.flow
[{"id":"7befe8de.a3568","type":"tab","label":"Main","disabled":false,"info":""},{"id":"7f8ff238.c88d74","type":"debug","z":"7befe8de.a3568","name":"MQTT Binary Sensor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":265,"wires":[]},{"id":"97797ddd.a5f538","type":"ui_switch","z":"7befe8de.a3568","name":"","label":"MQTT Binary Sensor Event","tooltip":"","group":"1e1236cb.8cd369","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":435.5,"y":143,"wires":[[]]},{"id":"b87368a9.5e844","type":"ui_switch","z":"7befe8de.a3568","name":"","label":"MQTT Switch","tooltip":"","group":"1e1236cb.8cd369","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":120.5,"y":389,"wires":[["256cf4a2.b0c47c"]]},{"id":"256cf4a2.b0c47c","type":"mqtt out","z":"7befe8de.a3568","name":"MQTT Switch Topic","topic":"bacabhome/switch/mqtt","qos":"","retain":"","broker":"b25d1f6.a9e55e","x":371.5,"y":416,"wires":[]},{"id":"cf2cfe91.8a9b5","type":"ui_switch","z":"7befe8de.a3568","name":"","label":"MQTT Binary Sensor Switch","tooltip":"","group":"1e1236cb.8cd369","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"bacabhome/binarysensor/mqtt","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":169.5,"y":169,"wires":[["47840c78.2c080c"]]},{"id":"47840c78.2c080c","type":"mqtt out","z":"7befe8de.a3568","name":"MQTT Binary Sensor MQTT Topic","topic":"bacabhome/binarysensor/mqtt","qos":"","retain":"","broker":"b25d1f6.a9e55e","x":458,"y":201,"wires":[]},{"id":"cd5e4377.88ed4","type":"server-state-changed","z":"7befe8de.a3568","name":"","server":"3f226dfb.5ca4a2","entityidfilter":"switch.mqtt_switch","entityidfiltertype":"substring","haltifstate":"","x":179,"y":306,"wires":[["2e22b559.d8aac2"]]},{"id":"2e22b559.d8aac2","type":"ui_switch","z":"7befe8de.a3568","name":"","label":"MQTT Switch Event","tooltip":"","group":"1e1236cb.8cd369","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":383,"y":363,"wires":[[]]},{"id":"11d6a74d.caa389","type":"mqtt in","z":"7befe8de.a3568","name":"MQTT Binary Sensor","topic":"bacabhome/binarysensor/mqtt","qos":"2","broker":"b25d1f6.a9e55e","x":155.5,"y":239,"wires":[["7f8ff238.c88d74"]]},{"id":"fa253794.0ac7d8","type":"debug","z":"7befe8de.a3568","name":"MQTT Switch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":359,"y":473,"wires":[]},{"id":"9176e450.bb935","type":"mqtt in","z":"7befe8de.a3568","name":"MQTT Switch Topic","topic":"bacabhome/switch/mqtt","qos":"2","broker":"b25d1f6.a9e55e","x":129,"y":473,"wires":[["fa253794.0ac7d8"]]},{"id":"4a463f4a.7fc0e","type":"server-state-changed","z":"7befe8de.a3568","name":"","server":"3f226dfb.5ca4a2","entityidfilter":"binary_sensor.mqtt_binary_sensor","entityidfiltertype":"substring","haltifstate":"","x":239.5,"y":94,"wires":[["97797ddd.a5f538"]]},{"id":"9ed834cf.3aacb8","type":"ui_slider","z":"7befe8de.a3568","name":"","label":"MQTT Sensor","tooltip":"","group":"1e1236cb.8cd369","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":126.88333129882812,"y":33.883331298828125,"wires":[["a29bba5d.2e32e"]]},{"id":"a29bba5d.2e32e","type":"mqtt out","z":"7befe8de.a3568","name":"MQTT Sensor Topic","topic":"bacabhome/sensor/mqtt","qos":"","retain":"","broker":"b25d1f6.a9e55e","x":381.88331604003906,"y":33.366668701171875,"wires":[]},{"id":"1e1236cb.8cd369","type":"ui_group","z":"","name":"Default","tab":"69e91ea8.2eeb8","disp":true,"width":"6","collapse":false},{"id":"b25d1f6.a9e55e","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"10.147.20.63","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3f226dfb.5ca4a2","type":"server","z":"","name":"Home Assistant","url":"http://172.17.0.1:8123","pass":"mav2aten","llat":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJiZTE5YTc0ZDgyNzA0NTg1YWJjZGUxYmE0MTJhY2MzNSIsImlhdCI6MTU0Nzk2MTc1OCwiZXhwIjoxODYzMzIxNzU4fQ.g-9_7ZXYxLm5Wg1-qfgzog_sH4wKJIqPMumo0lO3FRA"},{"id":"69e91ea8.2eeb8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
