noderedlibary/random.flow
[{"id":"2b2c6e34.dc431a","type":"tab","label":"Random","disabled":false,"info":""},{"id":"f4d3eeec.b741c","type":"debug","z":"2b2c6e34.dc431a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":120,"wires":[]},{"id":"cd67b2aa.2a8e3","type":"random","z":"2b2c6e34.dc431a","name":"","low":"1","high":"100","inte":"false","property":"payload","x":310,"y":120,"wires":[["f4d3eeec.b741c","d182717c.6b8ea"]]},{"id":"52c414a1.66536c","type":"inject","z":"2b2c6e34.dc431a","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":120,"wires":[["cd67b2aa.2a8e3"]]},{"id":"d182717c.6b8ea","type":"ui_chart","z":"2b2c6e34.dc431a","name":"","group":"b7bc19b1.9239f","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":160,"wires":[[]]},{"id":"b7bc19b1.9239f","type":"ui_group","z":"","name":"Random","tab":"2c9db10.1b1e9d","disp":true,"width":"6","collapse":false},{"id":"2c9db10.1b1e9d","type":"ui_tab","z":"","name":"Random","icon":"dashboard","disabled":false,"hidden":false}]
