noderedlibary/random.md
[{"id":"2303efd2.7b2d78","type":"tab","label":"Random","disabled":true,"info":""},{"id":"f5543777.1c67b8","type":"debug","z":"2303efd2.7b2d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":120,"wires":[]},{"id":"837db8e2.fbcef","type":"random","z":"2303efd2.7b2d78","name":"","low":"1","high":"100","inte":"false","property":"payload","x":310,"y":120,"wires":[["f5543777.1c67b8","6cc680a9.27aea8"]]},{"id":"dbf9d670.6765a","type":"inject","z":"2303efd2.7b2d78","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":120,"wires":[["837db8e2.fbcef"]]},{"id":"6cc680a9.27aea8","type":"ui_chart","z":"2303efd2.7b2d78","name":"","group":"f5343d0e.54be18","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":160,"wires":[[]]},{"id":"f5343d0e.54be18","type":"ui_group","z":"","name":"Default","tab":"998ea228.c6eff8","disp":true,"width":"6","collapse":false},{"id":"998ea228.c6eff8","type":"ui_tab","z":"","name":"Home","icon":"Dashboard","disabled":false,"hidden":false}]
