noderedlibary/random.flow
[{"id":"aa260491.54bcf","type":"tab","label":"Random","disabled":false,"info":""},{"id":"59653a93.3bbaec","type":"debug","z":"aa260491.54bcf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":120,"wires":[]},{"id":"433dd454.c97b74","type":"random","z":"aa260491.54bcf","name":"","low":"1","high":"100","inte":"false","property":"payload","x":310,"y":120,"wires":[["59653a93.3bbaec","84cee6da.9b4a78"]]},{"id":"12074e8a.2960c9","type":"inject","z":"aa260491.54bcf","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":120,"wires":[["433dd454.c97b74"]]},{"id":"84cee6da.9b4a78","type":"ui_chart","z":"aa260491.54bcf","name":"","group":"529c6343.28e04c","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":160,"wires":[[]]},{"id":"529c6343.28e04c","type":"ui_group","z":"","name":"Random","tab":"4e271e0f.dcc6a","disp":true,"width":"6","collapse":false},{"id":"4e271e0f.dcc6a","type":"ui_tab","z":"","name":"Random","icon":"Dashboard","disabled":false,"hidden":false}]
