noderedlibary/restricted_zone_notifier_python.flow
[{"id":"4aa10684.d0f3f","type":"mqtt in","z":"18a3e7c9.81cfb","name":"Restricted Zone Notifier Python","topic":"Restricted_zone_python","qos":"2","datatype":"auto","broker":"784998af.db0dd8","x":179.40003967285156,"y":77.89999389648438,"wires":[["2bc20798.e25c08"]]},{"id":"fc2c4326.b8bb98","type":"debug","z":"18a3e7c9.81cfb","name":"Debug Notification","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":987.4000244140625,"y":117.66670227050781,"wires":[]},{"id":"2bc20798.e25c08","type":"json","z":"18a3e7c9.81cfb","name":"Conversion","property":"payload","action":"","pretty":true,"x":421,"y":78,"wires":[["279ce7d3.cfb928"]]},{"id":"279ce7d3.cfb928","type":"switch","z":"18a3e7c9.81cfb","name":"IsAlertDetected","property":"payload.Alert","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":603.433349609375,"y":78.43333435058594,"wires":[["b8819b82.c2ae68"],[]]},{"id":"b8819b82.c2ae68","type":"function","z":"18a3e7c9.81cfb","name":"Alert!","func":"msg.payload = \"Alert! Worker is not safe!\"\nreturn msg;","outputs":1,"noerr":0,"x":791,"y":72,"wires":[["fc2c4326.b8bb98","a6778cc9.285af8"]]},{"id":"a6778cc9.285af8","type":"ui_audio","z":"18a3e7c9.81cfb","name":"Audio Notification","group":"aa407892.a84528","voice":"en-US","always":true,"x":990,"y":72,"wires":[]},{"id":"784998af.db0dd8","type":"mqtt-broker","z":"","name":"Bacab Home","broker":"172.17.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aa407892.a84528","type":"ui_group","z":"","name":"OpenVINO","tab":"b57dfc54.479c68","disp":true,"width":"6","collapse":false},{"id":"b57dfc54.479c68","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
