noderedlibary/sensor_mqtt.flow
[{"id":"8eeb8ddb.6ba108","type":"tab","label":"Sensor MQTT","disabled":false,"info":""},{"id":"ffad37bf.34fa38","type":"debug","z":"8eeb8ddb.6ba108","name":"MQTT Binary Sensor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":265,"wires":[]},{"id":"ff45151.7f692e8","type":"ui_switch","z":"8eeb8ddb.6ba108","name":"","label":"MQTT Binary Sensor Event","tooltip":"","group":"2cf7dd93.db40d2","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":435.5,"y":143,"wires":[[]]},{"id":"32e6f927.676736","type":"ui_switch","z":"8eeb8ddb.6ba108","name":"","label":"MQTT Switch","tooltip":"","group":"2cf7dd93.db40d2","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":120.5,"y":389,"wires":[["5ae2ac70.f05784"]]},{"id":"5ae2ac70.f05784","type":"mqtt out","z":"8eeb8ddb.6ba108","name":"MQTT Switch Topic","topic":"bacabhome/switch/mqtt","qos":"","retain":"","broker":"ac4f020a.ee48c8","x":371.5,"y":416,"wires":[]},{"id":"b65cac29.1d2d98","type":"ui_switch","z":"8eeb8ddb.6ba108","name":"","label":"MQTT Binary Sensor Switch","tooltip":"","group":"2cf7dd93.db40d2","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"bacabhome/binarysensor/mqtt","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":169.5,"y":169,"wires":[["95db11cf.80ee18"]]},{"id":"95db11cf.80ee18","type":"mqtt out","z":"8eeb8ddb.6ba108","name":"MQTT Binary Sensor MQTT Topic","topic":"bacabhome/binarysensor/mqtt","qos":"","retain":"","broker":"ac4f020a.ee48c8","x":458,"y":201,"wires":[]},{"id":"f404a5b9.92f9f","type":"server-state-changed","z":"8eeb8ddb.6ba108","name":"","server":"968b4b7.7a507b8","entityidfilter":"switch.mqtt_switch","entityidfiltertype":"substring","haltifstate":"","x":179,"y":306,"wires":[["47685b84.677fe4"]]},{"id":"47685b84.677fe4","type":"ui_switch","z":"8eeb8ddb.6ba108","name":"","label":"MQTT Switch Event","tooltip":"","group":"2cf7dd93.db40d2","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":383,"y":363,"wires":[[]]},{"id":"89954f63.5abfe8","type":"mqtt in","z":"8eeb8ddb.6ba108","name":"MQTT Binary Sensor","topic":"bacabhome/binarysensor/mqtt","qos":"2","broker":"ac4f020a.ee48c8","x":155.5,"y":239,"wires":[["ffad37bf.34fa38"]]},{"id":"80d171c1.7ba178","type":"debug","z":"8eeb8ddb.6ba108","name":"MQTT Switch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":359,"y":473,"wires":[]},{"id":"47fdc92e.22dee","type":"mqtt in","z":"8eeb8ddb.6ba108","name":"MQTT Switch Topic","topic":"bacabhome/switch/mqtt","qos":"2","broker":"ac4f020a.ee48c8","x":129,"y":473,"wires":[["80d171c1.7ba178"]]},{"id":"26af654e.74043a","type":"server-state-changed","z":"8eeb8ddb.6ba108","name":"","server":"968b4b7.7a507b8","entityidfilter":"binary_sensor.mqtt_binary_sensor","entityidfiltertype":"substring","haltifstate":"","x":239.5,"y":94,"wires":[["ff45151.7f692e8"]]},{"id":"3547edd4.38a9ca","type":"ui_slider","z":"8eeb8ddb.6ba108","name":"","label":"MQTT Sensor","tooltip":"","group":"2cf7dd93.db40d2","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":126.88333129882812,"y":33.883331298828125,"wires":[["57b175df.0f3b6c"]]},{"id":"57b175df.0f3b6c","type":"mqtt out","z":"8eeb8ddb.6ba108","name":"MQTT Sensor Topic","topic":"bacabhome/sensor/mqtt","qos":"","retain":"","broker":"ac4f020a.ee48c8","x":381.88331604003906,"y":33.366668701171875,"wires":[]},{"id":"2cf7dd93.db40d2","type":"ui_group","z":"","name":"Default","tab":"67c02b10.1c1924","disp":true,"width":"6","collapse":false},{"id":"ac4f020a.ee48c8","type":"mqtt-broker","z":"","name":"Mosquitto","broker":"10.147.20.63","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"968b4b7.7a507b8","type":"server","z":"","name":"Home Assistant","url":"http://172.17.0.1:8123","pass":"mav2aten","llat":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJiZTE5YTc0ZDgyNzA0NTg1YWJjZGUxYmE0MTJhY2MzNSIsImlhdCI6MTU0Nzk2MTc1OCwiZXhwIjoxODYzMzIxNzU4fQ.g-9_7ZXYxLm5Wg1-qfgzog_sH4wKJIqPMumo0lO3FRA"},{"id":"67c02b10.1c1924","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
