noderedlibary/sensor_random_data.md
[{"id":"7f25d8df.38f06","type":"tab","label":"Sensor Random Data","disabled":false,"info":""},{"id":"db9cf042.1b7db8","type":"debug","z":"7f25d8df.38f06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":360,"wires":[]},{"id":"7718478a.daa9f","type":"random","z":"7f25d8df.38f06","name":"","low":"1","high":"100","inte":"false","property":"payload","x":300,"y":360,"wires":[["db9cf042.1b7db8"]]},{"id":"d28feff.d02701","type":"inject","z":"7f25d8df.38f06","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":360,"wires":[["7718478a.daa9f"]]}]
