noderedlibary/smarthome_frontyard.flow
[{"id":"a27c6d59.02601","type":"tab","label":"Frontyard","disabled":false,"info":""},{"id":"f991e0c7.1dfbc8","type":"mqtt out","z":"a27c6d59.02601","name":"Frontyard Temperature","topic":"smarthome/frontyard/temperature/state_topic","qos":"","retain":"","broker":"ed7de758.5b4328","x":640,"y":140,"wires":[]},{"id":"bf8e9b62.4a7e68","type":"ui_slider","z":"a27c6d59.02601","name":"","label":"Temperature","tooltip":"","group":"737e47e.0c40cb8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":370,"y":80,"wires":[["f991e0c7.1dfbc8","d5b6fdfd.aa01b8"]]},{"id":"6db841b3.7674e","type":"function","z":"a27c6d59.02601","name":"Temperature","func":"random = Math.floor ( Math.random() * (30-25) + 25)\nmsg.payload = random;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["d5b6fdfd.aa01b8","f991e0c7.1dfbc8"]]},{"id":"d5b6fdfd.aa01b8","type":"debug","z":"a27c6d59.02601","name":"Frontyard Temperature","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":640,"y":80,"wires":[]},{"id":"62a850b5.893bd","type":"inject","z":"a27c6d59.02601","name":"Interval","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":160,"y":140,"wires":[["6db841b3.7674e"]]},{"id":"ed7de758.5b4328","type":"mqtt-broker","z":"","name":"","broker":"172.17.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"737e47e.0c40cb8","type":"ui_group","z":"","name":"Environment","tab":"d56e1a17.54f278","disp":true,"width":"6","collapse":false},{"id":"d56e1a17.54f278","type":"ui_tab","z":"","name":"Frontyard","icon":"car","disabled":false,"hidden":false}]
