noderedlibary/smarthome.flow
[
    {
        "id": "a27c6d59.02601",
        "type": "tab",
        "label": "Frontyard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cc9bf7ba.a07ab8",
        "type": "tab",
        "label": "Master Bedroom",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5c675851.04b6a",
        "type": "tab",
        "label": "Bathroom",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6d725c.4322a58",
        "type": "tab",
        "label": "Guest Bedroom",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ecbcd336.7102c8",
        "type": "tab",
        "label": "Kitchen",
        "disabled": false,
        "info": ""
    },
    {
        "id": "90e5d2e.ed137b",
        "type": "tab",
        "label": "Living Room",
        "disabled": false,
        "info": ""
    },
    {
        "id": "63536e07.880cf8",
        "type": "tab",
        "label": "Backyard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d10ae473.2d5a3",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e2964ca6.71119",
        "type": "ui_tab",
        "z": "",
        "name": "Kitchen",
        "icon": "fridge-outline",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3a09a574.bafb8a",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "ed7de758.5b4328",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "172.17.0.1",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "9feeef4c.a682a8",
        "type": "ui_group",
        "z": "",
        "name": "MQTT",
        "tab": "c6731f20.57cf3",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c6731f20.57cf3",
        "type": "ui_tab",
        "z": "",
        "name": "MQTT",
        "icon": "Dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d56e1a17.54f278",
        "type": "ui_tab",
        "z": "",
        "name": "Frontyard",
        "icon": "car",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "737e47e.0c40cb8",
        "type": "ui_group",
        "z": "",
        "name": "Environment",
        "tab": "d56e1a17.54f278",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "795d78d0.1768b",
        "type": "ui_tab",
        "z": "",
        "name": "Master Bedroom",
        "icon": "bed-empty",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2e3e094d.cfa58e",
        "type": "ui_group",
        "z": "",
        "name": "Environment",
        "tab": "795d78d0.1768b",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "79e92fc7.5f583",
        "type": "ui_group",
        "z": "",
        "name": "Environment",
        "tab": "33486525.5e4262",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "33486525.5e4262",
        "type": "ui_tab",
        "z": "",
        "name": "Bathroom",
        "icon": "paper-roll",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a3518e38.6289c8",
        "type": "ui_group",
        "z": "",
        "name": "Environment",
        "tab": "e2964ca6.71119",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f93cb4cf.c28e38",
        "type": "ui_tab",
        "z": "",
        "name": "Living Room",
        "icon": "sofa",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "34a74bef.fbc65c",
        "type": "ui_group",
        "z": "",
        "name": "Environment",
        "tab": "f93cb4cf.c28e38",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a70384df.6f285",
        "type": "ui_tab",
        "z": "",
        "name": "Backyard",
        "icon": "flower",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a179e91c.2dc9e",
        "type": "ui_group",
        "z": "",
        "name": "Environment",
        "tab": "a70384df.6f285",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "37f1d1b8.7229fe",
        "type": "ui_group",
        "z": "",
        "name": "Environment",
        "tab": "9e4c5215.181a38",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9e4c5215.181a38",
        "type": "ui_tab",
        "z": "",
        "name": "Guest Bedroom",
        "icon": "bag-checked",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3da0454.183f3ba",
        "type": "mqtt out",
        "z": "d10ae473.2d5a3",
        "name": "Binary Sensors MQTT",
        "topic": "binary_sensors/mqtt/state_topic",
        "qos": "",
        "retain": "",
        "broker": "ed7de758.5b4328",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "cce0a9db.4b9c5",
        "type": "mqtt out",
        "z": "d10ae473.2d5a3",
        "name": "Sensors MQTT",
        "topic": "sensors/mqtt/state_topic",
        "qos": "",
        "retain": "",
        "broker": "ed7de758.5b4328",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "b185ff0d.06c6c",
        "type": "ui_slider",
        "z": "d10ae473.2d5a3",
        "name": "",
        "label": "Sensors MQTT",
        "tooltip": "",
        "group": "9feeef4c.a682a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "cce0a9db.4b9c5"
            ]
        ]
    },
    {
        "id": "d5693777.f4b438",
        "type": "ui_switch",
        "z": "d10ae473.2d5a3",
        "name": "",
        "label": "Switches MQTT",
        "tooltip": "",
        "group": "9feeef4c.a682a8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "abf8701e.fcd9d8"
            ]
        ]
    },
    {
        "id": "abf8701e.fcd9d8",
        "type": "mqtt out",
        "z": "d10ae473.2d5a3",
        "name": "Switches MQTT",
        "topic": "switches/mqtt/state_topic",
        "qos": "",
        "retain": "",
        "broker": "ed7de758.5b4328",
        "x": 500,
        "y": 220,
        "wires": []
    },
    {
        "id": "11fbe102.cb413f",
        "type": "ui_switch",
        "z": "d10ae473.2d5a3",
        "name": "",
        "label": "Binary Sensors MQTT",
        "tooltip": "",
        "group": "9feeef4c.a682a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "3da0454.183f3ba"
            ]
        ]
    },
    {
        "id": "f991e0c7.1dfbc8",
        "type": "mqtt out",
        "z": "a27c6d59.02601",
        "name": "Frontyard Temperature",
        "topic": "smarthome/frontyard/temperature/state_topic",
        "qos": "",
        "retain": "",
        "broker": "ed7de758.5b4328",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "bf8e9b62.4a7e68",
        "type": "ui_slider",
        "z": "a27c6d59.02601",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "737e47e.0c40cb8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "f991e0c7.1dfbc8",
                "d5b6fdfd.aa01b8"
            ]
        ]
    },
    {
        "id": "6db841b3.7674e",
        "type": "function",
        "z": "a27c6d59.02601",
        "name": "Temperature",
        "func": "random = Math.floor ( Math.random() * (30-25) + 25)\nmsg.payload = random;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "d5b6fdfd.aa01b8",
                "f991e0c7.1dfbc8"
            ]
        ]
    },
    {
        "id": "d5b6fdfd.aa01b8",
        "type": "debug",
        "z": "a27c6d59.02601",
        "name": "Frontyard Temperature",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "62a850b5.893bd",
        "type": "inject",
        "z": "a27c6d59.02601",
        "name": "Interval",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "6db841b3.7674e"
            ]
        ]
    },
    {
        "id": "b1a64eb6.edcc1",
        "type": "mqtt out",
        "z": "cc9bf7ba.a07ab8",
        "name": "Master Bedroom Temperature",
        "topic": "smarthome/masterbedroom/temperature/state_topic",
        "qos": "",
        "retain": "",
        "broker": "ed7de758.5b4328",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "f1d0181d.514d38",
        "type": "ui_slider",
        "z": "cc9bf7ba.a07ab8",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "2e3e094d.cfa58e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "b1a64eb6.edcc1",
                "e1aad1f0.28433"
            ]
        ]
    },
    {
        "id": "e43cb99f.8e75b",
        "type": "function",
        "z": "cc9bf7ba.a07ab8",
        "name": "Temperature",
        "func": "random = Math.floor ( Math.random() * (30-25) + 25)\nmsg.payload = random;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "e1aad1f0.28433",
                "b1a64eb6.edcc1"
            ]
        ]
    },
    {
        "id": "e1aad1f0.28433",
        "type": "debug",
        "z": "cc9bf7ba.a07ab8",
        "name": "Master Bedroom Temperature",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "b0495b25.7b192",
        "type": "inject",
        "z": "cc9bf7ba.a07ab8",
        "name": "Interval",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "e43cb99f.8e75b"
            ]
        ]
    },
    {
        "id": "a1209d58.b040e8",
        "type": "mqtt out",
        "z": "5c675851.04b6a",
        "name": "Bathroom Temperature",
        "topic": "smarthome/bathroom/temperature/state_topic",
        "qos": "",
        "retain": "",
        "broker": "ed7de758.5b4328",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "f12decf2.b0f2",
        "type": "ui_slider",
        "z": "5c675851.04b6a",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "79e92fc7.5f583",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "a1209d58.b040e8",
                "6ae9d56c.96fb8c"
            ]
        ]
    },
    {
        "id": "e3d2549e.1727",
        "type": "function",
        "z": "5c675851.04b6a",
        "name": "Temperature",
        "func": "random = Math.floor ( Math.random() * (30-25) + 25)\nmsg.payload = random;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "6ae9d56c.96fb8c",
                "a1209d58.b040e8"
            ]
        ]
    },
    {
        "id": "6ae9d56c.96fb8c",
        "type": "debug",
        "z": "5c675851.04b6a",
        "name": "Bathroom Temperature",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "d44b340a.01f73",
        "type": "inject",
        "z": "5c675851.04b6a",
        "name": "Interval",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "e3d2549e.1727"
            ]
        ]
    },
    {
        "id": "1ac0d23d.038e96",
        "type": "mqtt out",
        "z": "63536e07.880cf8",
        "name": "Backyard Temperature",
        "topic": "smarthome/backyard/temperature/state_topic",
        "qos": "",
        "retain": "",
        "broker": "ed7de758.5b4328",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "3d455406.17b5b4",
        "type": "ui_slider",
        "z": "63536e07.880cf8",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "a179e91c.2dc9e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "1ac0d23d.038e96",
                "42e3b5f9.39ec0c"
            ]
        ]
    },
    {
        "id": "8262f7f8.5beb48",
        "type": "function",
        "z": "63536e07.880cf8",
        "name": "Temperature",
        "func": "random = Math.floor ( Math.random() * (30-25) + 25)\nmsg.payload = random;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "42e3b5f9.39ec0c",
                "1ac0d23d.038e96"
            ]
        ]
    },
    {
        "id": "42e3b5f9.39ec0c",
        "type": "debug",
        "z": "63536e07.880cf8",
        "name": "Backyard Temperature",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "c56cacf0.f7be3",
        "type": "inject",
        "z": "63536e07.880cf8",
        "name": "Interval",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "8262f7f8.5beb48"
            ]
        ]
    },
    {
        "id": "2c2d718f.aebb06",
        "type": "mqtt out",
        "z": "ecbcd336.7102c8",
        "name": "Kitchen Temperature",
        "topic": "smarthome/kitchen/temperature/state_topic",
        "qos": "",
        "retain": "",
        "broker": "ed7de758.5b4328",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "591b8bb7.66340c",
        "type": "ui_slider",
        "z": "ecbcd336.7102c8",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "a3518e38.6289c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "2c2d718f.aebb06",
                "d9c671e0.980d48"
            ]
        ]
    },
    {
        "id": "54cf12da.c71934",
        "type": "function",
        "z": "ecbcd336.7102c8",
        "name": "Temperature",
        "func": "random = Math.floor ( Math.random() * (30-25) + 25)\nmsg.payload = random;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "d9c671e0.980d48",
                "2c2d718f.aebb06"
            ]
        ]
    },
    {
        "id": "d9c671e0.980d48",
        "type": "debug",
        "z": "ecbcd336.7102c8",
        "name": "Kitchen Temperature",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "741058d.50be628",
        "type": "inject",
        "z": "ecbcd336.7102c8",
        "name": "Interval",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "54cf12da.c71934"
            ]
        ]
    },
    {
        "id": "7d84d991.a47f28",
        "type": "mqtt out",
        "z": "90e5d2e.ed137b",
        "name": "Living Room Temperature",
        "topic": "smarthome/livingroom/temperature/state_topic",
        "qos": "",
        "retain": "",
        "broker": "ed7de758.5b4328",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "770e381c.9b90e",
        "type": "ui_slider",
        "z": "90e5d2e.ed137b",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "34a74bef.fbc65c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "7d84d991.a47f28",
                "bf7c8bf8.ad1f4"
            ]
        ]
    },
    {
        "id": "41d37953.7dfe58",
        "type": "function",
        "z": "90e5d2e.ed137b",
        "name": "Temperature",
        "func": "random = Math.floor ( Math.random() * (30-25) + 25)\nmsg.payload = random;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "bf7c8bf8.ad1f4",
                "7d84d991.a47f28"
            ]
        ]
    },
    {
        "id": "bf7c8bf8.ad1f4",
        "type": "debug",
        "z": "90e5d2e.ed137b",
        "name": "Living Room Temperature",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "e4409374.19d118",
        "type": "inject",
        "z": "90e5d2e.ed137b",
        "name": "Interval",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "41d37953.7dfe58"
            ]
        ]
    },
    {
        "id": "5dbee506.4707fc",
        "type": "mqtt out",
        "z": "f6d725c.4322a58",
        "name": "Guest Bedroom Temperature",
        "topic": "smarthome/guestbedroom/temperature/state_topic",
        "qos": "",
        "retain": "",
        "broker": "ed7de758.5b4328",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "7fea3218.590e14",
        "type": "ui_slider",
        "z": "f6d725c.4322a58",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "37f1d1b8.7229fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "5dbee506.4707fc",
                "12e869ca.4decde"
            ]
        ]
    },
    {
        "id": "9d70269a.e13238",
        "type": "function",
        "z": "f6d725c.4322a58",
        "name": "Temperature",
        "func": "random = Math.floor ( Math.random() * (30-25) + 25)\nmsg.payload = random;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 140,
        "wires": [
            [
                "12e869ca.4decde",
                "5dbee506.4707fc"
            ]
        ]
    },
    {
        "id": "12e869ca.4decde",
        "type": "debug",
        "z": "f6d725c.4322a58",
        "name": "Guest Bedroom Temperature",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "4086c677.bf43",
        "type": "inject",
        "z": "f6d725c.4322a58",
        "name": "Interval",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 160,
        "y": 140,
        "wires": [
            [
                "9d70269a.e13238"
            ]
        ]
    }
]
